body{
    margin: 0;    
}
section{
    padding-left: 80px;
    padding-right: 70px;
    padding-bottom: 5px;
}
:root{
    --text-color:#ffffff;
    --main-color:#05b3f8;
    --bg--color: #1b1f24;
}
.navbar > *{
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}
section > *{
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}
.nav-logo{
    height: 60px;
    margin-left: 4em;
}
.navbar{
    display: flex;
    flex-wrap: nowrap;
    gap: 4em;
    background-color: #fffcfc;
    padding: 12px;
}
.nav-element{
    font-size: 16px;
    margin-top: 1.5em;
    color: var(--bg--color);
    text-decoration: none;
    font-weight: 500;
}
#homebar{
    margin-left: 6em;
}
.nav-element:hover{
    color: var(--main-color);
}

.homepage{
    background-image: url(./blue-curve-background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    padding-top: 120px;
}
h2{
    font-size: 54px;
}
.home-h1{
    font-size: 54px;
    color: #03346E;
}
.home-p{
    font-size: 16px;
    text-align: left;
    line-height: 1.4;
}
.myimg{
    float: right;
}
.home-btn{
    height: 40px;
    padding: 2px 16px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px var(--bg--color);
    background-color: #0397d1;
    color: var(--text-color);
}
.home-btn:hover{
    background-color: var(--bg--color);
}
.about{
    text-align: center;
    font-size: 30px;
    color: #03346E;
}
.social-icon{
    margin-right: 1.5em;
    margin-top: 2em;
}
#email-icon{
    height: 35px;
}
#git-icon{
    height: 41px;
}
#phone-icon{
    height: 37px;
}
.aboutpage{
    height: 80vh;
    background-color: lightblue;
    padding: 40px;
}
.about-text{
    text-align: center;
}
.my-skills{
    font-size: 24px;
}
.my-experience{
    font-size: 24px;
}
.grid-about{
    display: grid;
    grid-template-columns: 350px 350px;
    column-gap: 150px;
    margin-left: 25em;
}
.services{
    height: 80vh;
    padding-top: 40px;
    padding-bottom: 50px;
}
.services-head{
    text-align: center;
    font-size: 30px;
    color: #03346E;
}
.services-card{
    border: 1px solid #ccc;
    height: 400px;
    width: 300px;
    padding: 20px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: rgb(217, 220, 224);
    margin-top: 2em;
}
.grid-services{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    column-gap: 40px;
    margin-left: 6em;
}
.projects{
    height: 80vh;
    background-color: lightgray;
    padding: 40px;
}
.projects-head{
    text-align: center;
    font-size: 30px;
    color: #03346E;
}
.images{
    height: 80vh;
    background-color: rgb(237, 166, 208);
    padding: 40px;
}
.images-head{
    text-align: center;
    font-size: 30px;
    color: #03346E;
}
footer{
    background-color: blue;
    padding: 20px;
}
footer > p{
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
